@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas {
    border: 1px solid black;
}

.toolbox {
    background-color: cadetblue;
    display: flex;
    padding: 1rem;
    width: 1000px;
}

.toolbox > *{
    background-color: white;
    border: none;
    font-size: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    height: 50px;
    width: 50px;
}